{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "rules":{
        "react/prop-types": 1,
        "react/forbid-prop-types": 0,
        "react/require-default-props": 0,
        "no-unused-vars": 1,
        "no-console": 0,
        "promise/always-return": 0
    }
}