.body{
  background-image: linear-gradient(45deg, #FF80AB 10%, #7986CB);
  background-attachment: fixed;
  min-height: 100%;
}

.container {
  text-align: center;
  margin: auto;
  position: relative;
}